#root {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-size: cover;
}

body, html, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
  background: url('/pinkgirl.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Segoe UI', sans-serif;
}

* {
  box-sizing: border-box;
}
